@import "variables";

/**
 NAVBAR DO SITE
 */
header .navbar {
  @extend .navbar-light;

  .navbar-nav .nav-link {
  }

  .nav-profile-img {
    @extend .rounded-circle;
    max-height: 40px;
    border: 1px solid ;
  }

}

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
}

@media (max-width: 768px) {
  .navbar-nav.navbar-right {
    top: -125px;
    right: 25px;
    float: right;
    position: relative;
  }
  .navbar-nav.navbar-right > li {
    display: table-cell;
  }
}

/**
 NAV BAR DENTRO DO ADMIN
 */
section {
  .navbar {
    .navbar-toggler {
      @extend .btn-outline-secondary
    }
  }
}
