$fa-font-path: "../vendor/font-awesome-5.12.0/webfonts" !default;
$default-rpg: white;
$bg-blue: #00256B;
$bg-parallax: #00256B;
$bg-nav:  #689da3;
$gold: darkgoldenrod;

/** BOOTSTRAP OVERRIDE **/
$primary: $bg-parallax !default;