@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "parallax";
@import "navbar";
@import "mini-currilo";
@import "table";

body, html {
  height: 100%
}

@media (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1rem;
  }
}


.videoclasse {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.videoclasse video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.videoclasse .container {
  position: relative;
  z-index: 2;
}

.videoclasse .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.btn-gold {
  background-color: $gold;
  border: $gold;
}

.cadastro-card {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.login-card {
  width: 100%;
  max-width: 420px;
  margin: auto;
}

.tab-pane a {
  color: black;
  text-decoration: none;
}

.list-group-item.active {
  background-color: $bg-nav;
}

.bg-default {
  background-color: $default-rpg;
  padding-top: 40px;
  padding-bottom: 40px;
  color: black;
}

.bg-blue {
  @extend .bg-default;
  background-color: $bg-blue;

  .btn-primary {
    background-color: $bg-nav;
    border-color: $bg-nav;
  }
}

.bg-dark {
  @extend .bg-default;
  background-color: black;
}

.bg-green {
  @extend .bg-default;
  background-color: #1e7e34;
}

#lblSessao {
  font-weight: bold;
  margin-right: 10px;
}

nav {
  background: $bg-nav;
}

.parallaxOverlay p, h1 {
  color: $bg-parallax;
}

footer {
  @extend .small;
  @extend .pt-4;
  @extend .pt-md-5;

  display: flex;
  justify-content: space-between;

  a {
    @extend .text-white;
    text-shadow: #fff 0 0 0;
  }

  ul.social {
    a {
      @extend .text-white;
      @extend .text-decoration-none;
      text-shadow: #fff 0 0 0;
      margin-right: 15px;
    }
  }

  /*para ter a mesma margin do P e ficar certo no mobile*/
  ul.social, .img-fluid {
    margin-bottom: 1rem;
  }
}

/** Alinha o footer no final da página quando não houver
conteúdo suficiente para empurrar ele pra baixo
 */
body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.maplocation {
  background: #718888;

  display: flex;
  justify-content: center;

  padding-top: 47px;
}