@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "parallax";
@import "navbar";

.bg-default{
  background-color: $default-rpg;
  padding-top: 40px;
  padding-bottom: 40px;
  color: black;
}

.bg-blue{
  @extend .bg-default;
  background-color: #00256B;
}

.bg-dark{
  @extend .bg-default;
  background-color: black;
}

#lblSessao{
  font-weight: bold;
  margin-right: 10px;
}

nav{
  background: #718888;
  height: 65px;
  border-radius: 5px;
}

.parallaxOverlay p,h1{
  color:  #00256B;
}
